h1 {
  font-family: "Great Vibes", cursive;
}

h2 {
  font-size: 150%;
  font-family: "PlayFair", italic;
}

p {
  font-family: "PlayFair", italic;
}

/*Etusivun muotoilut*/
.otsikko {
  font-size: 900%;
  font-family: "Great Vibes", cursive;
  color: rgb(99, 127, 120);
}

.frontPage {
  text-align: center;
  top: 300px;   
}

.by {
  color: rgb(132, 150, 165);
  font-family: "PlayFair", italic;
  font-size:large;
}

.taustakuva {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./etusivu.jpg");
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.alkuNappi {
  text-align: right;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
}

/*Muiden sivujen muotoilu*/

.page {
  padding: 20px;
  text-align: center;
  background-color: rgb(196, 212, 206);
}

.Cards {
    display: grid; /* Ottaa ruudukkoasettelun käyttöön */
    grid-template-columns: repeat(2, 1fr); /* Luo kaksi yhtä leveää saraketta */
    gap: 20px; /* Lisää tilaa korttien väliin */
    padding: 40px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 25px;
    background: #aebeb3;
  }

.kortinKuva {
  max-height: 200px;
  object-fit: cover;
}

/*Uusi*/
.form {
  padding: 50px;
  text-align: center;
  background-color: rgb(196, 212, 206);
}

.lomake {
  border-radius: 25px;
  background: #bbc9c0;
  padding: 20px;
  text-align: left;
}